@{
    ViewBag.Title = "For more INFO";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  
    <abbr title="Phone">(*-*)  </abbr>
    23000000 or 99500000
</address>
Salalah City

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>