@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jila Cenima</h1>
    <p class="lead">gather All new Movies in one websit with HD quality ^_^ Join me. </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
